{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container has-background-black mb-5" style="opacity: 0.9;">
<header class="header mt-5">
    <h1 class="title has-color-grey text-shadows is-uppercase is-size-3 pt-3 pl-4 pb-3">
        Inscription <span style="margin-left: 48%;">Osez traversez le miroir</span>
    </h1>
</header>
<div class="separator"></div>

<section class="section has-text-white mb-5 pb-5">
    <div class="container">
                {{ form_start(registrationForm) }}
                    <h1 class="is-size-2 has-text-centered has-text-white"> Inscription a la plateforme Mirror</h1>
                        {{ form_row(registrationForm.pseudo) }}
                        {{ form_row(registrationForm.denomination) }}
                        {{ form_row(registrationForm.email) }}

                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Mot de passe'
                    }) }}


                    <button type="submit" class="btn btn-primary btn-lg my-3">M'inscrire</button>
                {{ form_end(registrationForm) }}
    </div>
</section>
</div>
{% endblock %}
