{% extends 'base.html.twig' %}

{% block title %}Rarete{% endblock %}

{% block body %}
    <h1>Rarete</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rarete.id }}</td>
            </tr>
            <tr>
                <th>Nom_rarete</th>
                <td>{{ rarete.nomRarete }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_rarete_index') }}">back to list</a>

    <a href="{{ path('app_rarete_edit', {'id': rarete.id}) }}">edit</a>

    {{ include('rarete/_delete_form.html.twig') }}
{% endblock %}
