{% extends 'base.html.twig' %}

{% block title %}Religion index{% endblock %}

{% block body %}
    <h1>Religion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_religion</th>
                <th>Description_religion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for religion in religions %}
            <tr>
                <td>{{ religion.id }}</td>
                <td>{{ religion.nomReligion }}</td>
                <td>{{ religion.descriptionReligion }}</td>
                <td>
                    <a href="{{ path('app_religion_show', {'id': religion.id}) }}">show</a>
                    <a href="{{ path('app_religion_edit', {'id': religion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_religion_new') }}">Create new</a>
{% endblock %}
