{% extends 'base.html.twig' %}

{% block title %}SourcePouvoir{% endblock %}

{% block body %}
    <h1>SourcePouvoir</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ source_pouvoir.id }}</td>
            </tr>
            <tr>
                <th>NomSource</th>
                <td>{{ source_pouvoir.nomSource }}</td>
            </tr>
            <tr>
                <th>Caracteristique</th>
                <td>{{ source_pouvoir.caracteristique }}</td>
            </tr>
            <tr>
                <th>Src</th>
                <td>{{ source_pouvoir.src }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_source_pouvoir_index') }}">back to list</a>

    <a href="{{ path('app_source_pouvoir_edit', {'id': source_pouvoir.id}) }}">edit</a>

    {{ include('source_pouvoir/_delete_form.html.twig') }}
{% endblock %}
