{% extends 'base.html.twig' %}

{% block title %}Theme{% endblock %}

{% block body %}
  <div class="container has-background-black mb-5 pb-5" style="opacity: 0.9;">

    <header class="header mt-5">
        <h1 class="title has-color-grey text-shadows has-text-centered is-uppercase is-size-3 pt-3 pl-4 pb-3">
            Forum - <a>{{theme.titreTheme}}</a>
        </h1>
    </header>
    <div class="separator"></div>

    {% for message in messages %}

   <article class="message ml-5 mr-5">
  <div class="message-header">
    <p class="is-uppercase">{{message.utilisateur.pseudo}}</p>
  </div>
  <div class="message-body">
   <p>{{message.message}}<p>

   <a href="/message/{{message.id}}/edit" class="button">
         <span class="icon has-text-info">
             <i class="far fa-eye"></i>
         </span>
        <span>Edition</span>
    </a>
    <form method="post" action="{{ path('app_theme_delete', {'id': message.id}) }}" onsubmit="return confirm('Souhaitez vous réellement supprimer votre message ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
        <button class="button">
            <span class="icon">
      <i class="fab fa-github"></i>
    </span>
    <span>Suprimer</span>
  </button>
</form>
  </div>
</article>
 {% endfor %}
</div>

   
    
{% endblock %}
