{% extends 'base.html.twig' %}

{% block title %}Theme{% endblock %}

{% block body %}
  <div class="container has-background-black mb-5 pb-5" style="opacity: 0.9;">

    <header class="header mt-5">
        <h1 class="title has-color-grey text-shadows has-text-centered is-uppercase is-size-3 pt-3 pl-4 pb-3">
            Forum - <a>{{theme.titreTheme}}</a>
        </h1>
    </header>
    <div class="separator"></div>

    {% for message in messages %}

   <article class="message ml-5 mr-5">
  <div class="message-header">
    <p class="is-uppercase">{{message.utilisateur.pseudo}} le {{message.createdAt|date("d/m/Y h:i")}}</p>
  </div>
  <div class="message-body">
   <p>{{message.message}}<p>

  
    <form style="margin-left: 80%" method="post" action="{{ path('app_message_delete', {'id': message.id}) }}" onsubmit="return confirm('Souhaitez vous réellement supprimer votre message ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
        <button class="button">
            <span class="icon">
      <i class="fab fa-github"></i>
    </span>
    <span>Supprimer</span>
  </button>
   <a href="/message/{{message.id}}/edit" class="button">
         <span class="icon has-text-info">
             <i class="far fa-eye"></i>
         </span>
        <span>Edition</span>
    </a>
</form>
  </div>
</article>
 {% endfor %}

 {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn" type="submit">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}

</div>

   
    
{% endblock %}
